@CHARSET "UTF-8";
.div1{
	width: 988px;
	height: 850px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border: 2px solid gray;
}

.div2{
	height: 200px;
}

.div21{
	float: left;
}

.div22{
	float: right;
}

.rowPosition{
	height:160px;
}

.colPosition{
	width: 182px;
	font-size: 14px;
}