@CHARSET "UTF-8";
.div1{
	width: 988px;
	height: 850px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border: 2px solid gray;
}

.div2{
	height: 200px;
}

.div21{
	float: left;
}

.div22{
	float: right;
}

.setFont1{
	font-family:"宋体";
	font-weight:bolder;
	font-size: 26px;
	color: #008000;
	width: 200px;
	margin-left: 20px;
	margin-top: 10px;
}

.setFont2{
	font-family: "华文楷体";
	font-weight:bolder;
	font-size: 22px;
	color: #000000;
	width: 100px;
	padding-left: 80px;
	cursor: pointer;
}

#content{
	border: 1px solid gray;
	width: 650px;
	height: 552px;
	float: right;
	margin-right: 50px;
}

.con{
	position:absolute;
	height:550px;
	width:570px;
	top:28.5%;
	left:29%;
	padding-right:40px;
	padding-left:40px;
	line-height: 40px;
	overflow: auto;
}

.con_title{
	text-align: center;
	font-size: 22px;
	color: #ff8000;
	margin-bottom: 10px;
}