.div1{
width: 988px;
height: 850px;
border: solid  gray 2px;
margin-left: auto;
margin-right: auto;
position: relative;
}

.div2{
	height: 200px;
	border: solid 2px gray;
}

.div21{
	float: left;
}

.div22{
	float: right;
}

.div3{
	height: 630px;
	width: 250px;
	border: solid 2px gray;
	float: left;
	//position: relative;
	//left: 0;
	margin-top:5px ;
	margin-left: -60px;
	}

.div31{
	height: 200px;
	width: 230px;
	border: solid 2px gray;
	margin:5px 0;
}

.div4{
	height: 200px;
	width: 700px;
	border: solid 2px gray;
	float: right;
	margin:5px 0;
	}

.div5{
	height: 400px;
	width: 700px;
	border: solid 2px gray;
	float:right;
	margin:5px 0;
}

.div51{
	width: 100px;
	height: 120px;
	border: solid 2px gray;
	margin:30px 100px;
	float: left;
}
 
 
.divpos{
	width: 90px;
	height: 90px;
	border: solid 2px gray;
	margin:35px 20px;
	float: left;
}


.divlose{
	width: auto;
	height: auto;
	border: solid 2px gray;
	margin:100px 210px;
	background: url(./../img/lose.jpg);
}

.form1{
	margin:80px 80px;
}

.divtopic{
	width: 200px;
	height: 200px;
	border: solid 2px gray;
	margin: 40px 50px;
	float: left;
	color: blue;
}